html{
    background-color: rgb(255, 255, 255);
    
}

h1{
    color: #136f63;
    margin-bottom: 0;
    font-size: 1em;
    font-style: bold;
    font-family: 'Anton', sans-serif;
}
h3{
    color: #ffb30f;
    margin-bottom: 0;
    font-size: 0.8em;
    font-style: bold;
}
span{
    color: #ffb30f;
    size: 1.5em;
    margin-top: 0;
    margin-left: 5px;
    
}
.titre-carrousel{
    font-size: 2.4em;
    color: #ffb30f;
    font-style: bold;
    background-color: rgba(0, 0, 0, 0.377);
    
}
.suite-texte{
    color: #ffb30f;
}
.container-fluid2{
    margin: 10px 0px 10px 0px;
    background: rgb(54,91,41);
    background: linear-gradient(90deg, rgba(54,91,41,1) 0%, rgba(104,176,77,1) 50%, rgba(54,91,41,1) 100%);
    padding: 2em; 
}
.container-fluid3{
    margin: 10px 0px 10px 0px;
    background: rgb(13,75,67);
    background: linear-gradient(90deg, rgba(13,75,67,1) 0%, rgba(19,111,99,1) 50%, rgba(13,75,67,1) 100%);
    padding: 2em;
}
.container-fluid4{
    margin: 10px 0px 10px 0px;
    background: rgb(26,39,66);
    background: linear-gradient(90deg, rgba(26,39,66,1) 0%, rgba(41,63,106,1) 50%, rgba(26,39,66,1) 100%);
    padding: 2em;
    margin-bottom: 0px;
}
.container-fluid2 h1{
    font-size: 1.5em; 
    color: #ffb30f;
    text-align: center;
}

.container-fluid3 h1{
    font-size: 1.5em; 
    color: #ffb30f;
    text-align: center;
}

.container-fluid4 h1{
    font-size: 1.5em; 
    color: white;
    text-align: center;
}

a{
    color: #136f63;
}

.titrerecettes{
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    margin: 0 0 5% 0;
}

.recettes img{
    border-radius: 10%;
    border: solid 3px #000000;
    width: 80%;
    margin-bottom: 30%;
    box-shadow: 1px 1px 12px rgb(0, 0, 0);
}

.recettes p{
    color: white;
    margin: 0;
    font-family: 'Anton', sans-serif;
}

.recettes main {
    background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
    ),url(../images/salade2.png);
    background-size:cover;
    text-align: center;
    
    margin: 0;
   }

input[type=text] {
    background:rgba(0, 0, 0, 0.473) url(../images/search.png) no-repeat right;
    padding-right:50px;
    color: #ffffff86;
    border: 3px solid rgba(0, 0, 0, 0.226);
    border-radius: 10px;
    margin-bottom: 20px;
}
